# Node modules
node_modules/

# Environment files
.env
.env.* # Exclude .env.local, .env.production, etc.

# Prisma
/prisma/generated/
prisma/*.db
prisma/*.db-journal

# Docker
*.log
Dockerfile*
docker-compose.override.yml
.pgdata/
/prisma/.env

# Build artifacts
.next/
dist/
out/
*.cache

# IDE-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*